<div *ngIf="usuario">
    <div *ngIf="usuario.rol === 'paciente'" class="card mb-3 text-dark" style="max-width: 540px;">        
        <div class="row g-0">
            <div class="col-md-4">
                <img [src]="usuario.fotos[0]" class="img-fluid rounded-start">
                <img [src]="usuario.fotos[1]" class="img-fluid rounded-start">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h3 class="card-title mb-4">{{usuario.nombre + ' ' + usuario.apellido}}</h3>
                    <p class="card-text">Edad: {{usuario.edad}}</p>
                    <p class="card-text">DNI: {{usuario.dni}}</p>
                    <p class="card-text">Obra Social: {{usuario.obraSocial}}</p>
                    <button
                        *ngIf="!verHistoriaClinica"
                        class="btn btn-primary mb-4"
                        (click)="verMiHistoriaClinicaHandler()"
                    >Ver mi historia clínica</button>
                    <button
                        *ngIf="!verMisAtenciones"
                        class="btn btn-primary"
                        (click)="verMisAtencionesHandler()"
                    >Ver mis atenciones</button>
                </div>
            </div>
        </div>
    </div>

    <app-mis-atenciones
        *ngIf="verMisAtenciones"
        (volver)="ocultarMisAtencionesHandler()"
    >
    </app-mis-atenciones>

    <app-historia-clinica
        *ngIf="verHistoriaClinica"
        [paciente]="usuario"
        (volver)="ocultarMiHistoriaClinicaHandler()"
    >
    </app-historia-clinica>

    <div *ngIf="usuario.rol === 'especialista'" class="card mb-3 text-dark" style="max-width: 1000px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img [src]="usuario.foto" class="img-fluid rounded-start">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h3 class="card-title mb-3">{{usuario | doctor}}</h3>
                    <p class="card-text">Edad: {{usuario.edad}}</p>
                    <p class="card-text">DNI: {{usuario.dni}}</p>
                    <span class="card-text">Especialidades:</span>
                    <ul>
                        <li *ngFor="let especialidad of usuario.especialidades" class="card-text">
                            {{especialidad}}
                        </li>
                    </ul>
                    <button
                        *ngIf="!this.verMisHorarios"
                        class="btn btn-primary"
                        (click)="verMisHorariosHandler()"
                    >Ver mis horarios</button>        
                    <button
                        *ngIf="this.verMisHorarios"
                        class="btn btn-danger"
                        (click)="ocultarMisHorariosHandler()"
                    >Cancelar</button>
                </div>
            </div>
        </div>
    </div>

    <app-mis-horarios
        *ngIf="verMisHorarios"
        (volver)="ocultarMisHorariosHandler()"
    >
    </app-mis-horarios>

    <div *ngIf="usuario.rol === 'administrador'">        
        <div class="card mb-3 text-dark" style="max-width: 1000px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img [src]="usuario.foto" class="img-fluid rounded-start">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h3 class="card-title mb-4">{{usuario.nombre + ' ' + usuario.apellido}}</h3>
                        <p class="card-text">Edad: {{usuario.edad}}</p>
                        <p class="card-text">DNI: {{usuario.dni}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
