<div
    class="contenedor-menor mb-5 fondo-oscuro"
>
    <div class="container-fluid">
        <table class="table text-white" style="text-align: center;">
            <thead>
                <tr>
                    <th>Rol</th>
                    <th>Email</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Edad</th>
                    <th>DNI</th>
                    <th>Obra Social</th>
                    <th>Especialidades</th>
                    <th>Imagen 1</th>
                    <th>Imagen 2</th>
                    <th>Habilitado</th>
                    <th>Historia clínica</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of usuarios">
                    <td>{{item.rol}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.nombre}}</td>
                    <td>{{item.apellido}}</td>
                    <td>{{item.edad}}</td>
                    <td>{{item.dni}}</td>
                    <td *ngIf="item.obraSocial">
                        {{item.obraSocial}}
                    </td>
                    <td *ngIf="!item.obraSocial">
                        n/a
                    </td>
                    <td *ngIf="item.especialidades">
                        <span *ngFor="let especialidad of item.especialidades">
                            {{especialidad}}
                            <br>
                        </span>
                    </td>
                    <td *ngIf="!item.especialidades">
                        n/a
                    </td>
                    <td *ngIf="item.foto">
                        <img [src]="item.foto" style="width: 100px; height: 100px" alt="">
                    </td>
                    <td *ngIf="!item.fotos">
                        n/a
                    </td>
                    <td *ngIf="item.fotos">
                        <img [src]="item.fotos[0]" style="width: 100px; height: 100px" alt="">
                    </td>
                    <td *ngIf="item.fotos">
                        <img [src]="item.fotos[1]" style="width: 100px; height: 100px" alt="">
                    </td>

                    <td *ngIf="item.especialidades">
                        <div class="form-check form-switch d-flex justify-content-center">
                            <input
                                class="form-check-input"
                                type="checkbox"
                                [value]="item.id"
                                (change)="onChangeHabilitado($event)"
                                [checked]="item.habilitado"
                            >
                        </div>
                    </td>
                    <td *ngIf="!item.especialidades">
                        n/a
                    </td>

                    <td *ngIf="item.rol !== 'paciente'">
                        n/a
                    </td>
                    <td *ngIf="item.rol === 'paciente'">
                        <button
                        class="btn btn-primary m-auto"
                        (click)="verMiHistoriaClinicaHandler(item)"
                        >
                        Ver</button>
                    </td>

                </tr>
            </tbody>
        </table>
        <div class="d-flex justify-content-center">
            <button *ngIf="!quieroAgregarUsuario" class="btn btn-success" (click)="agregarUsuario()">Agregar usuario</button>
            <button *ngIf="quieroAgregarUsuario" class="btn btn-danger" (click)="noAgregarUsuario()">Cancelar</button>
        </div>
    </div>
</div>

<app-historia-clinica
    class="contenedor-menor mb-5 fondo-oscuro"
    *ngIf="verHistoriaClinica"
    [paciente]="pacienteSeleccionado"
    (volver)="ocultarHandler()"
>
</app-historia-clinica>

<div
    class="d-flex justify-content-center align-items-center"
>
    <div
        *ngIf="quieroAgregarUsuario"
        class="text-white mb-5 fondo-oscuro"
    >
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded-3">
            <div class="container-fluid navbar-nav">
                <a
                    class="nav-link m-auto"
                    (click)="clickPacienteHandler()"
                    [ngClass]="{'active': this.rolSeleccionado === 'paciente'}"
                >Paciente</a>
                <a
                    class="nav-link m-auto"
                    (click)="clickEspecialistaHandler()"
                    [ngClass]="{'active': this.rolSeleccionado === 'especialista'}"
                >Especialista</a>
                <a
                    class="nav-link m-auto"
                    (click)="clickAdministradorHandler()"
                    [ngClass]="{'active': this.rolSeleccionado === 'administrador'}"
                >Administrador</a>
            </div>
        </nav>
        <div style="width: 30rem; padding: 2rem 3rem" *ngIf="this.rolSeleccionado === 'paciente'">
            <app-registro-paciente (formularioEnviado)="pacienteEnviadoHandler($event)" [error]="errorMsg">            
            </app-registro-paciente>
        </div>
        <div style="width: 30rem; padding: 1rem 3rem" *ngIf="this.rolSeleccionado === 'especialista'">
            <app-registro-especialista (formularioEnviado)="especialistaEnviadoHandler($event)" [error]="errorMsg">            
            </app-registro-especialista>
        </div>
        <div style="width: 30rem; padding: 2rem 3rem" *ngIf="this.rolSeleccionado === 'administrador'">
            <app-registro-administrador (formularioEnviado)="administradorEnviadoHandler($event)" [error]="errorMsg">            
            </app-registro-administrador>
        </div>
    </div>
</div>