<div class="mt-5">
    <h4 class="text-center">Atiende los:</h4>
    <div class="d-flex justify-content-between mt-4">
        <div *ngFor="let item of this.agenda; index as i">
            <input
                type="checkbox"
                class="btn-check"
                id="btn-check-outlined"
                [id]="'btn-check-' + i"
                autocomplete="off"
                [value]="i"
                [checked]="item"
                [disabled]="i === 0"
                (click)="onDiaClickeado(i)"
            >
            <label
                class="btn btn-outline-primary"
                [for]="'btn-check-' + i"
            >{{ this.semana[i] }}</label><br>
        </div>
    </div>
    <div class="text-end mt-5">
        <button
            class="btn btn-outline-light"
            (click)="confirmar()"
        >Confirmar cambios</button>
    </div>
</div>