<div *ngIf="modoNormal">
    <h1>Turnos</h1>
    <div>
        <div class="mb-4">
            <label class="mb-2">
                Buscar por especialidad
            </label>
            <input
                [(ngModel)]="filtro"
                (ngModelChange)="filtrar()"
                class="form-control w-25"
            >
        </div>
        <table>
            <tr>
                <th>Horario</th>
                <th>Paciente</th>
                <th>Especialidad</th>
                <th>Estado</th>
                <th>Motivo</th>
            </tr>
            <tr *ngFor="let turno of turnos; let i = index">
                <td>{{turno.fecha.toDate() | date:'MM/dd HH:mm'}}</td>
                <td>
                    {{turno.paciente.nombre}}
                    {{turno.paciente.apellido}}
                </td>
                <td>{{turno.especialidad}}</td>
                <td>{{turno.estado | uppercase}}</td>
                <td class="tdMotivo">{{turno.razon}}</td>
                <td
                *ngIf="turno.reviewPac"
                >
                    <button
                        class="btn btn-info"
                        (click)="verReview(turno)"
                    >
                    Ver reseña</button>
                </td>
                <td>
                    <button
                        class="btn btn-primary"
                        (click)="historiaClinicaSeleccionada.emit(turno)"
                    >
                    Ver historia clínica</button>
                </td>
            </tr>
        </table>
    </div>
</div>

