<div
    id="bienvenida-contenedor" 
    class="d-flex justify-content-center align-items-center"
>
    <div
        class="contenedor-menor fondo-oscuro"
    >
        <h1>Clínica OnLine</h1>
        <img src="../../assets/hospital.png" style="width: 18rem; margin: 1rem;">
        <h3>Especialistas en salud.</h3>
        <button class="btn btn-light mt-5" routerLink="/login"  style="width: 12rem;">Login</button>
        <button class="btn btn-outline-light mt-3" routerLink="/registro"  style="width: 12rem;">Registro</button>
    </div>
</div>
