<div
    id="bienvenida-contenedor" 
    class="d-flex justify-content-center align-items-center"
>
    <div
        class="d-flex flex-column align-items-center text-white p-5"
        style="background: rgba(0, 0, 0, .7); border-radius: .6rem;"
    >
        <h1>Clínica OnLine</h1>
        <h2>Especialistas en salud.</h2>
        <button class="btn btn-secondary m-3" routerLink="/login">Login</button>
        <button class="btn btn-secondary m-auto" routerLink="/registro">Registro</button>
    </div>
</div>
