<div
    id="bienvenida-contenedor" 
    class="d-flex justify-content-center align-items-center"
>
    <div
        class="d-flex flex-column align-items-center text-white p-5"
        style="background: rgba(0, 0, 0, .7); border-radius: .6rem;"
    >    
        <h1>Clínica OnLine</h1>
        <h3>Especialistas en salud.</h3>
        <img src="../../assets/hospital.png" alt="">
        <button class="btn btn-info mt-5" routerLink="/login"  style="width: 12rem;">Login</button>
        <button class="btn btn-outline-info mt-3" routerLink="/registro"  style="width: 12rem;">Registro</button>
    </div>
</div>
