<div class="contenedor-menor mb-5 fondo-oscuro">
    <!-- <button class="btn btn-primary mb-4" routerLink="./test"
    >Test</button> -->
    <button class="btn btn-primary mb-4" routerLink="./log-ingresos"
    >Log de ingresos al sistema</button>
    <button class="btn btn-primary mb-4" routerLink="./turnos-especialidad"
    >Turnos por especialidad</button>
    <button class="btn btn-primary mb-4" routerLink="./turnos-dia"
    >Turnos por día</button>
    <button class="btn btn-primary mb-4" routerLink="./turnos-solicitados">
        Turnos solicitados por médico en un lapso de tiempo
    </button>
    <button class="btn btn-primary mb-4" routerLink="./turnos-finalizados">
        Turnos finalizados por médico en un lapso de tiempo
    </button>
</div>
<router-outlet></router-outlet>