<div
    id="bienvenida-contenedor" 
    class="d-flex justify-content-center align-items-center"
>
    <div
        class="d-flex flex-column align-items-center text-white p-5 fondo-oscuro"
    >    
        <h1>¡Gracias por registrarse!</h1>
        <p class="mt-5">
            Antes de poder iniciar sesión, todos los especialistas deben ser habilitados dentro del
            sistema por un administrador.
        </p>
        <p>
            Le solicitamos que se comunique con el Centro para ser dado de alta y empezar a trabajar.
        </p>
        <button class="btn btn-secondary mt-5" routerLink="/login"  style="width: 12rem;">Ir al Login</button>
    </div>
</div>
