<div
    id="bienvenida-contenedor" 
    class="d-flex justify-content-center align-items-center"
>
    <div
        class="d-flex flex-column align-items-center text-white p-5 fondo-oscuro"
    >    
        <h1>¡Lo sentimos!</h1>
        <p class="mt-5">
            Su perfil de usuario no está habilitado.
        </p>
        <p>
            Para más información, consulte a la Administración.
        </p>
        <button class="btn btn-secondary mt-5" routerLink=""  style="width: 12rem;">Volver</button>
    </div>
</div>