<div class="d-flex justify-content-center mb-2">
    <h2>Registro de especialistas</h2>
</div>
<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <div class="d-flex">
        <div style="margin-right: 2rem;">
            <label for="nombre" class="form-label">
            Nombre
            </label>
            <input
            type="text"
            id="nombre"
            formControlName="nombre"
            class="form-control"
            required
            >
            <div style="height: 2rem;">
            <span
                *ngIf="!nombre?.valid && nombre?.touched"
                class="help-block text-danger"
            >
                Nombre requerido
            </span>
            </div>
        </div>
        <div>
            <label for="apellido" class="form-label">
            Apellido
            </label>
            <input
            type="text"
            id="apellido"
            formControlName="apellido"
            class="form-control"
            required
            >
            <div style="height: 2rem;">
                <span
                    *ngIf="!apellido?.valid && apellido?.touched"
                    class="help-block text-danger"
                >
                    Apellido requerido
                </span>
            </div>
        </div>
    </div>
    <div class="d-flex">
        <div style="margin-right: 2rem;">
            <label for="edad" class="form-label">
            Edad
            </label>
            <input
            type="number"
            id="edad"
            formControlName="edad"
            class="form-control"
            required
            >
            <div style="height: 2rem;">
            <span
                *ngIf="!edad?.valid && edad?.touched"
                class="help-block text-danger">
                Edad inválida
            </span>
            </div>
        </div>
        <div>
            <label for="dni" class="form-label">
            DNI
            </label>
            <input
            type="number"
            id="dni"
            formControlName="dni"
            class="form-control"
            required
            >
            <div style="height: 2rem;">
            <span
                *ngIf="!dni?.valid && dni?.touched"
                class="help-block text-danger">
                DNI inválido
            </span>
            </div>
        </div>
    </div>
    <div class="d-flex">
        <div style="margin-right: 2rem; width: 50%;">
            <h5>Especialidades</h5>
            <div class="form-check" *ngFor="let especialidad of especialidades">
                <input
                    class="form-check-input"
                    type="checkbox"
                    [value]="especialidad"
                    (change)="onChangeEspecialidad($event)"
                >
                <label class="form-check-label" >
                    {{ especialidad }}
                </label>
            </div>
        </div>
        <div formArrayName="especialidades">
            <h6>Selección:</h6>
            <div
            class="form-group"
            *ngFor="let hobbyControl of signupForm.get('especialidades').controls; let i = index">
                <input
                    type="text"
                    class="form-control my-2"
                    style="font-size: .8rem;" [formControlName]="i">
            </div>
            <div class="d-flex justify-content-center">
                <button
                class="btn btn-success rounded-circle"
                type="button"
                (click)="onAddEspecialidad()">+</button>
            </div>
        </div>
    </div>
    <div style="margin-top: 1rem;">
        <label for="email" class="form-label">
        Email
        </label>
        <input
        type="text"
        id="email"
        formControlName="email"
        class="form-control"
        required
        >
        <div style="height: 2rem;">
        <span
            *ngIf="!email?.valid && email?.touched"
            class="help-block text-danger"
        >
            Email requerido
        </span>
        </div>
    </div>
    <div>
        <label for="clave" class="form-label">
        Contraseña
        </label>
        <input
        type="password"
        id="clave"
        formControlName="clave"
        class="form-control"
        required
        >
        <div style="height: 2rem;">
        <span
            *ngIf="!clave?.valid && clave?.touched"
            class="help-block text-danger"
        >
            Contraseña requerida
        </span>
        </div>
    </div>
    <div>
        <label class="form-label">Foto</label>
        <input type="file" class="form-control" (change)="uploadFile($event)"/>
    </div>
    <div class="d-flex justify-content-center my-5">
        <re-captcha
            [siteKey]="this.siteKey"
            formControlName="recaptchaReactive"
        ></re-captcha>
    </div>
    <div class="d-flex flex-column align-items-center mb-4" style="height: 3rem;">
        <div>
            <span
            *ngIf="error"
            class="help-block text-danger">
                {{error}}
            </span>
        </div>
        <div
            *ngIf="isLoading"
            class="spinner-border text-light"
            role="status"
        >
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <div class="d-flex justify-content-center mt-3">
        <button
        class="btn btn-primary"
        [ngClass]="{'disabled': !signupForm.valid || !this.foto}"
        >
        Enviar<i class="fas fa-plus-circle"></i>
        </button>
    </div>
</form>
