<div class="contenedor-menor mb-5 fondo-oscuro" *ngIf="!this.renderizar">
    <h2>Solicitados</h2>
    <form #f="ngForm" (ngSubmit)="confirmar(f.value)" novalidate>
        <label class="form-label">Fecha 1:</label>
        <input
            type="date"
            class="form-control mb-3"
            name="inicio"
            required
            ngModel
        >
        <label class="form-label">Fecha 2:</label>
        <input
            type="date"
            class="form-control mb-5"
            name="fin"
            required
            ngModel
        >
        <button class="btn btn-outline-light px-5" type="submit">Confirmar</button>            
    </form>
</div>

<div class="contenedor-menor mb-5 fondo-oscuro" *ngIf="this.renderizar">
    <highcharts-chart        
        [Highcharts] = "highcharts" 
        [options] = "chartOptions" 
        style = "width: 50rem; height: 400px; display: block;">
    </highcharts-chart>
    <button class="btn btn-danger mt-5" routerLink="../">Volver</button>
</div>