<table class="table text-white" style="text-align: center;">
    <thead>
        <tr>
            <th>Rol</th>
            <th>Email</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Edad</th>
            <th>DNI</th>
            <th>Obra Social</th>
            <th>Especialidades</th>
            <th>Imagen 1</th>
            <th>Imagen 2</th>
            <th>Habilitado</th>
            <th>Historia clínica</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of usuarios">
            <td>{{item.rol}}</td>
            <td>{{item.email}}</td>
            <td>{{item.nombre}}</td>
            <td>{{item.apellido}}</td>
            <td>{{item.edad}}</td>
            <td>{{item.dni}}</td>
            <td *ngIf="item.obraSocial">
                {{item.obraSocial}}
            </td>
            <td *ngIf="!item.obraSocial">
                n/a
            </td>
            <td *ngIf="item.especialidades">
                <span *ngFor="let especialidad of item.especialidades">
                    {{especialidad}}
                    <br>
                </span>
            </td>
            <td *ngIf="!item.especialidades">
                n/a
            </td>
            <td *ngIf="item.foto">
                <img [src]="item.foto" style="width: 100px; height: 100px" alt="">
            </td>
            <td *ngIf="!item.fotos">
                n/a
            </td>
            <td *ngIf="item.fotos">
                <img [src]="item.fotos[0]" style="width: 100px; height: 100px" alt="">
            </td>
            <td *ngIf="item.fotos">
                <img [src]="item.fotos[1]" style="width: 100px; height: 100px" alt="">
            </td>

            <td *ngIf="item.especialidades">
                <div class="form-check form-switch d-flex justify-content-center">
                    <input
                        class="form-check-input"
                        type="checkbox"
                        [value]="item.id"
                        [checked]="item.habilitado"
                    >
                </div>
            </td>
            <td *ngIf="!item.especialidades">
                n/a
            </td>

            <td *ngIf="item.rol !== 'paciente'">
                n/a
            </td>
            <td *ngIf="item.rol === 'paciente'">
                <button
                *ngIf="!verHistoriaClinica"
                class="btn btn-primary m-auto"
                (click)="verHistoriaClinicaHandler(item)"
                >
                Ver</button>
            </td>

        </tr>
    </tbody>
</table>

<app-historia-clinica
    class="contenedor-menor"
    *ngIf="verHistoriaClinica"
    [paciente]="pacienteSeleccionado"
    (volver)="ocultarHandler()"
>
</app-historia-clinica>