<div class="contenedor-menor mb-5 fondo-oscuro">
    <table>
        <thead>
            <tr>
                <th>
                    Usuario
                </th>                
                <th>
                    Fecha
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ingreso of this.ingresos">
                <td>
                    {{ingreso.uid}}
                </td>
                <td>
                    {{ingreso.fecha.toDate() | date:'dd/MM/YY HH:mm:ss'}}
                </td>
            </tr>
        </tbody>
    </table>
</div>
