<div
    id="bienvenida-contenedor" 
    class="d-flex justify-content-center align-items-center"
>
    <div
        class="d-flex flex-column align-items-center text-white p-5 fondo-oscuro"
    >    
        <h1>¡Gracias por registrarse!</h1>
        <p class="mt-5">
            Le hemos enviado un mail para comprobar que es usted.
        </p>
        <p>
            Verifique su correo y luego inicie sesión.
        </p>
        <button class="btn btn-secondary mt-5" routerLink="/login"  style="width: 12rem;">Ir al Login</button>
    </div>
</div>