<h2>Finalizar turno</h2>
<div class="my-4">
    <h4>Detalles</h4>
    <span>Paciente: </span>
    <span style="width: 14rem;">
        {{turno.paciente.nombre}} {{turno.paciente.apellido}}
    </span>
    <br>
    <span>Fecha: </span>
    <span style="width: 10rem;">
        {{turno.fecha.toDate() | date:'MM/dd HH:mm'}}
    </span>
</div>

<label class="form-label">
    Reseña:
</label>
<input
    [(ngModel)]="review"
    class="form-control mb-5"
>
<form #f="ngForm" (ngSubmit)="confirmar(f.value)" novalidate>
    <h4 class="mb-3">Datos para la historia clínica</h4>
    <div>
        <div class="form-outline form-white mb-3">
            <label class="form-label">Altura*</label>
            <input
                name="altura"
                id="altura"
                ngModel
                #altura="ngModel"
                required
                type="number"
                class="form-control"
            >
            <div class="aviso">
                <span
                    *ngIf="altura.invalid && (altura.dirty || altura.touched)"
                    class="text-danger"
                >Requerido</span>
            </div>
        </div>
        <div class="form-outline form-white mb-3">   
            <label class="form-label">Peso*</label>
            <input
                name="peso"
                ngModel
                #peso="ngModel"
                required
                type="number"
                class="form-control"
            >
            <div class="aviso">
                <span
                    *ngIf="peso.invalid && (peso.dirty || peso.touched)"
                    class="text-danger"
                >Requerido</span>
            </div>
        </div>
        <div class="form-outline form-white mb-3">   
            <label class="form-label">Temperatura*</label>
            <input
                name="temperatura"
                ngModel
                #temperatura="ngModel"
                required
                type="number"
                class="form-control"
            >
            <div class="aviso">
                <span
                    *ngIf="temperatura.invalid && (temperatura.dirty || temperatura.touched)"
                    class="text-danger"
                >Requerido</span>
            </div>
        </div>
        <div class="form-outline form-white mb-3">   
            <label class="form-label">Presión*</label>
            <input
                name="presion"
                ngModel
                #presion="ngModel"
                required
                type="number"
                class="form-control"
            >
            <div class="aviso">
                <span
                    *ngIf="presion.invalid && (presion.dirty || presion.touched)"
                    class="text-danger"
                >Requerido</span>
            </div>
        </div>
    </div>
    <h6>Opcionales:</h6>
    <div class="d-flex">
        <div class="form-outline form-white" style="margin-right: 2rem;">   
            <label class="form-label">Clave 1</label>
            <input
                name="clave1"
                ngModel
                type="text"
                class="form-control"
            >
            <div class="aviso">
            </div>
        </div>
        <div class="form-outline form-white" style="width: 7rem;">   
            <label class="form-label">Valor 1</label>
            <input
                name="valor1"
                ngModel
                type="text"
                class="form-control"
            >
            <div class="aviso">
            </div>
        </div>
    </div>
    <div class="d-flex">
        <div class="form-outline form-white" style="margin-right: 2rem;">   
            <label class="form-label">Clave 2</label>
            <input
                name="clave2"
                ngModel
                type="text"
                class="form-control"
            >
            <div class="aviso">
            </div>
        </div>
        <div class="form-outline form-white" style="width: 7rem;">   
            <label class="form-label">Valor 2</label>
            <input
                name="valor2"
                ngModel
                type="text"
                class="form-control"
            >
            <div class="aviso">
            </div>
        </div>
    </div>
    <div class="d-flex mb-5">
        <div class="form-outline form-white" style="margin-right: 2rem;">   
            <label class="form-label">Clave 3</label>
            <input
                name="clave2"
                ngModel
                type="text"
                class="form-control"
            >
            <div class="aviso">
            </div>
        </div>
        <div class="form-outline form-white" style="width: 7rem;">   
            <label class="form-label">Valor 3</label>
            <input
                name="valor2"
                ngModel
                type="text"
                class="form-control"
            >
            <div class="aviso">
            </div>
        </div>
    </div>
    
    <div class="d-flex">
        <div class="form-outline form-white" style="margin-right: 2rem;">   
            <label class="form-label">Clave 4</label>
            <input
                name="clave4"
                ngModel
                type="text"
                class="form-control"
            >
            <div class="aviso">
            </div>
        </div>
        <div class="form-outline form-white" style="width: 7rem;">   
            <label class="form-label">Valor 4</label>
            <input
                name="valor4"
                [(ngModel)]="this.rango"
                type="range"
                class="form-range"
                min="0"
                max="100"
            >
            <div class="aviso text-center">
                {{this.rango}}
            </div>
        </div>
    </div>
    <div class="d-flex">
        <div class="form-outline form-white" style="margin-right: 2rem;">   
            <label class="form-label">Clave 5</label>
            <input
                name="clave5"
                ngModel
                type="text"
                class="form-control"
            >
            <div class="aviso">
            </div>
        </div>
        <div class="form-outline form-white" style="width: 7rem;">   
            <label class="form-label">Valor 5</label>
            <input
                name="valor5"
                ngModel
                type="number"
                class="form-control"
            >
            <div class="aviso">
            </div>
        </div>
    </div>
    <div class="d-flex mb-5">
        <div class="form-outline form-white" style="margin-right: 2rem;">   
            <label class="form-label">Clave 6</label>
            <input
                name="clave6"
                ngModel
                type="text"
                class="form-control"
            >
            <div class="aviso">
            </div>
        </div>
        <div class="form-outline form-white" style="width: 7rem;">   
            <label class="form-label">Valor 6</label>
            <div class="form-check form-switch">
                <input
                    name="valor6"
                    [(ngModel)]="this.switch"
                    class="form-check-input"
                    type="checkbox"
                >
                <label
                    *ngIf="this.switch"
                    class="form-check-label"
                >Sí</label>
                <label
                    *ngIf="!this.switch"
                    class="form-check-label"
                >No</label>
            </div>
            <div class="aviso">
            </div>
        </div>
    </div>


    <div class="d-flex justify-content-around">
        <button class="btn btn-danger" type="button" (click)="volver.emit()">Volver</button>
        <button class="btn btn-outline-light" [disabled]="!f.valid">Confirmar</button>
    </div>
</form>