/* You can add global styles to this file, and also import other style files */

#bienvenida-contenedor {    
    min-height: 100vh;
    background-image: linear-gradient(#44A08D, #093637);
}

#administrador-contenedor {
    background-image: linear-gradient(#44A08D, #093637);
}

#celeste-contenedor {
    background-image: linear-gradient(#A6FFCB, #12D8FA, #1FA2FF);
    // background-image: linear-gradient(#FFFFFF, #12D8FA, #1FA2FF);
}