<div *ngIf="modoNormal" style="width: 92rem;">
    <h1 class="text-center">Mis Turnos</h1>
    <div>
        <div class="mb-4">
            <label class="mb-2">
                Buscar por paciente o especialidad
            </label>
            <input
                [(ngModel)]="filtro"
                (ngModelChange)="filtrar()"
                class="form-control w-25"
            >
        </div>

        <div class="d-flex flex-row fs-5 align-items-center">
            <span style="width: 10rem;">Horario</span>
            <span style="width: 14rem;">Paciente</span>
            <span style="width: 10rem;">Especialidad</span>
            <span style="width: 8rem;">Estado</span>
            <span style="width: 10rem;">Motivo</span>
            <span style="width: 37rem; margin: .5rem;">Opciones</span>
        </div>

        <div *ngFor="let turno of turnos" class="d-flex flex-row">
            <div class="d-flex flex-row justify-content-center align-items-center">
                <span style="width: 10rem;">{{turno.fecha.toDate() | date:'MM/dd HH:mm'}}</span>
                <span style="width: 14rem;">{{turno.paciente.nombre}} {{turno.paciente.apellido}}</span>
                <span style="width: 10rem;">{{turno.especialidad}}</span>
                <span style="width: 8rem;">{{turno.estado | uppercase}}</span>
                <span style="width: 10rem;">{{turno.razon}}</span>
            </div>
            <div class="d-flex flex-row align-items-center justify-content-center">
                <div class="boton-turno">
                    <button
                        class="btn btn-danger w-100"
                        (click)="cancelarTurnoHandler(turno)"
                        *ngIf="turno.estado === 'reservado'"
                    >
                    Cancelar</button>
                </div>
                <div class="boton-turno">
                    <button
                        class="btn btn-outline-danger w-100"
                        (click)="rechazarTurnoHandler(turno)"
                        *ngIf="turno.estado === 'reservado'"
                    >
                        Rechazar</button>
                </div>
                <div class="boton-turno">
                    <button class="btn btn-success w-100"
                        (click)="aceptarTurnoHandler(turno)"
                        *ngIf="turno.estado === 'reservado'"
                    >
                    Aceptar</button>
                </div>
                    <div class="boton-turno">
                    <button
                        class="btn btn-light w-100"
                        (click)="finalizarTurnoHandler(turno)"
                        *ngIf="turno.estado === 'aceptado'"
                    >
                    Finalizar</button>
                </div>
                    <div class="boton-turno">
                    <button
                        class="btn btn-secondary w-100"
                        (click)="verReviewHandler(turno)"
                        *ngIf="turno.review"
                    >
                    Ver reseña</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="modoCancelar">
    <h2>Estás a punto de cancelar un turno</h2>
    <div class="my-5">
        <h4>Detalles</h4>
        <span>Paciente: </span>
        <span style="width: 14rem;">
            {{turnoSeleccionado.paciente.nombre}} {{turnoSeleccionado.paciente.apellido}}
        </span>
        <br>
        <span>Fecha: </span>
        <span style="width: 10rem;">
            {{turnoSeleccionado.fecha.toDate() | date:'MM/dd HH:mm'}}
        </span>
    </div>
    <div class="mb-5">
        <label class="mb-2">
            Explica el motivo:
        </label>
        <input
            [(ngModel)]="razon"
            class="form-control"
        >
    </div>
    <div class="d-flex justify-content-around">
        <button class="btn btn-danger" (click)="cancelarVolverHandler()">Volver</button>
        <button class="btn btn-outline-light" (click)="cancelarConfirmarHandler()">Confirmar</button>
    </div>
</div>