.boton-turno {
    width: 7rem;
    height: 2rem;
    margin: .5rem;
}

.clase-borde {
    border-top: 1px solid white;
    padding: 1rem 0;
}

.padre-botones > div {
    display: flex;
    align-items: center;
    width: 7rem;
    height: 2rem;
    margin: .5rem;
}