<div
    class="d-flex flex-column align-items-center text-white p-5 mb-5"
    style="background: rgba(0, 0, 0, .7); border-radius: .6rem;"
>
    <div *ngIf="paso1" >
        <div *ngFor="let especialidad of especialidades">
            <button class="btn btn-secondary my-3 w-100" (click)="onEspecialidadSeleccionadaHandler()">{{ especialidad }}</button>
        </div>
    </div>

    <div *ngIf="paso2" class="d-flex">
        <div
            *ngFor="let especialista of especialistas"
            class="card m-5"
            style="width: 18rem; cursor:pointer;"
            (click)="onEspecialistaSeleccionadoHandler(especialista.id)"
        >
            <div class="card-body">
                <h5 class="card-title text-dark text-center">
                    Dr. {{ especialista.apellido }}, {{ especialista.nombre }}
                </h5>
            </div>
            <img [src]="especialista.foto" class="card-img-top">
        </div>
    </div>

    <div *ngIf="paso3">
        <h2>Seleccione el turno:</h2>
        <div class="d-flex flex-column">
            <!-- <button class="btn btn-info text-light m-2">18/06 10:00</button>
            <button class="btn btn-info text-light">18/06 10:30</button>
            <button class="btn btn-info text-light">18/06 11:30</button>
            <button class="btn btn-info text-light">20/06 08:00</button>
            <button class="btn btn-info text-light">20/06 08:30</button>
            <button class="btn btn-info text-light">20/06 09:00</button> -->
            <button *ngFor="let horario of horarios" class="btn btn-info text-light m-2">
                {{horario | date:'MM/dd hh:mm' }}
            </button>
            <button class="btn btn-primary" (click)="rellenarHorarios()">(dev) Rellenar</button>
        </div>
    </div>
</div>
